@font-face {
    font-family: 'Amaranth';
    src: url('fonts/Amaranth-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BarlowCondensed';
    src: url('fonts/BarlowCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after{
    box-sizing: border-box;
}

:root {
    --gold-strong: #9d4d00;
    --violet-strong: #6b00a2;
}

img {
    max-width: 100%;
}

body {
    font-family: BarlowCondensed;
    font-size: 18pt;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Amaranth";
}

h1 {
    margin-top: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-auto {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.m-30 {
    margin: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.section {
    padding: 80px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-frontend {
    background-color: var(--gold-strong);
}

.btn-backend {
    background-color: var(--violet-strong);
}

footer {
    height: 50px;
}
